
* {
  box-sizing: border-box;
}

 body {
	background-image: url("https://freevector-images.s3.amazonaws.com/uploads/vector/preview/40659/FreevectorPurple-BackgroundAS0621_generated.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
 nav {
	width: 100%;
	height: 80px;
	Line-height: 80px;
	margin-top:-20px;
	margin-left:-8px;
	padding: 0px 100px;
	position: fixed;
	background-image: linear-gradient(#033747, #012733);
}

nav .logo p {
	font-size: 30px;
	font-weight: bold;
	float: left;
	color: white;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	cursor: pointer;
	margin-top:1px;

}

nav ul {
	float: right;
	margin-top:7px;
}

nav li {
	display: inline-block;
	list-style: none;
}

nav li a {
	font-size: 18px;
	text-transform: uppercase;
	padding: 10px 30px;
	color: white;
	text-decoration:none;
}

nav li a:hover {
	color: #ff8c69;
}

.container {
     margin-top: 100px;
    margin-left: 386px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width:539px;
  float:left;
   box-shadow: 5px 2px 20px #000;
   overflow: hidden;
   border-radius: 10px;
}

.col-25 {
  float: left;
  width: 30%;
  margin-top: 22px;
  margin-left:10px;
  font-size:19px;
}

.col-75 {
  float: left;
  width: 55%;
  margin-top: 22px;
  margin-left:22px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.btn{
  
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #BA55D3;
  border: none;
  border-radius: 10px;
  box-shadow: 0 9px 	#9400D3;
      margin-left: 224px;
    margin-top: 35px;
}

.btn:hover {background-color: 	#9400D3}

.btn:active {
  background-color: 	#9932CC;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.save{
	
}
