@charset "ISO-8859-1";

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

nav {
	width: 100%;
	height: 80px;
	Line-height: 80px;
	
	padding: 0px 100px;
	position: fixed;
	background-image: linear-gradient(#033747, #012733);
}

nav .logo p {
	font-size: 30px;
	font-weight: bold;
	float: left;
	color: white;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	cursor: pointer;
}
nav .logo p:hover{
	color: #ff8c69;
}

nav ul {
	float: right
}

nav li {
	display: inline-block;
	list-style: none;
}

nav li a {
	font-size: 18px;
	text-transform: uppercase;
	padding: 10px 30px;
	color: white;
	text-decoration:none;
}

nav li a:hover {
	color: #ff8c69;
}

.img {
	    background-image: url("https://corlettexpress.com/wp-content/uploads/2020/03/AdobeStock_246515233-1574x787.jpeg");
    width: 100vw;
    height: 500px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* position: relative; */
    padding-top: 20px;
}

nav {
	overflow: auto;
}

  .button{
    position: absolute;
	padding: 16px;
	background-color: green;
	border-radius: 16px;
	bottom: 10px;
	left: 200px;
	width: 100px;
 
  }
  
   
  .h1{
      margin-left: 537px;
    margin-top: 43px;}
    
    .h1 h3{
    margin-left:-10px;
    }
   
   .con1{   
       width: 300px;
    margin-left: 78px;
    background-image: linear-gradient(#033747, #012733);
    height: 275px;
   }
   
   .con1 em{
     
   size: a5; 
    background-color: white;
    margin-left: 140px;
    padding-top: 13px}
    .con1 h2{
        margin-top: 14px;
    color: red;
    margin-left: 42px}
    
  .con1 h3{
      margin-top: 20px;
    color: white;
    margin-left: 24px;
  }
  
  .container{
         display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
    width: 80%;
    margin-left: 166px;
    margin-top: 69px;
    grid-row-gap: 56px;}
  
  
  .s1 h3{
  color:red;
  }
  
   .service{
     margin-top: 53px;
    margin-left: 16px;
    align-items: center;
    height: 358px;
    background-color: #f2f2f2;
   }
   
   #h2{ 
   margin-left: 621px;
   }
   
   .s1{
   margin-top:23px;
   }
   
   .footer {
	width: 100%;
	height: 80px;
	Line-height: 80px;
	bottom:0px;
	padding: 0px 100px;
	
	background-image: linear-gradient(#033747, #012733);
}
   
   .footer .logo p{
   font-size: 30px;
	font-weight: bold;
	float: left;
	color: white;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	cursor: pointer;
   }
   .footer li {
	display: inline-block;
	list-style: none;
}

 .footer li a {
	font-size: 18px;
	text-transform: uppercase;
	padding: 10px 30px;
	color: white;
	text-decoration:none;
}

 .footer li a:hover {
	color: #ff8c69;
}
  .footer ul {
	float: right
}
