@charset "ISO-8859-1";

nav {
	width: 100%;
	height: 80px;
	Line-height: 80px;
	margin-top:-20px;
	margin-left:-8px;
	padding: 0px 100px;
	position: fixed;
	background-image: linear-gradient(#033747, #012733);
}

nav .logo p {
	font-size: 30px;
	font-weight: bold;
	float: left;
	color: white;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	cursor: pointer;
	margin-top: -84px;
    margin-left: -32px;

}

nav ul {
	float: right;
	margin-top:-81px;
}

nav li {
	display: inline-block;
	list-style: none;
}

nav li a {
	font-size: 18px;
	text-transform: uppercase;
	padding: 10px 30px;
	color: white;
	text-decoration:none;
}

nav li a:hover {
	color: #ff8c69;
}

	
 .img{
	
    padding-top:56px;
    margin-left:450px;
}
h2{
	    margin-left: 500px;
	    margin-top:-92px;
	    color: #008000;
}

.container{
	margin-top: 53px;
    display: flex;
    justify-content: space-between;
    margin-left: 77px;
}
.container input[type="text"]{

	
	font-size: 30px;
	border: none;
	outline: none;
	margin-right:144px;
    color: red;
    font-weight: bold;
}
.container label{
	color: red;
	
	font-weight:bold;
	
	font-size: 25px;
    margin-left: 404px;
}


.btn1{
	margin-left:-85px;
}